.filter-bar {
  background-color: #282c34;
  display: flex;
  padding: 1% 2%;
}

.label {
  display: grid;
  align-content: center;
  padding: 0% 1%;
}

.mantine-Select-label {
  color: white;
}

.mantine-TextInput-label {
  color: white;
}

.eat-button {
  display: inline-block;
  align-self: flex-end;
}
