.App {
  color: white;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue';
  height: 100vh;
  width: 100vw;
}

.app-header {
  height: 4vh;
  width: 100vw;
  margin-bottom: 5px;
}

.app-body {
  display: grid;
  grid-template-columns: 1.5fr 6fr;
  gap: 4px;
  grid-auto-columns: minmax(20vw, 100%);
  grid-auto-rows: minmax(96vh, 100%);
}
